<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key ="Title" value="--------Mortgage Assessment Calculator--------"/>
    <add key="inputYes" value="y,Y,yes,YES" />
    <add key="inputNo" value="n,N,no,NO" />
    <add key="paymentTowards" value="0" />
    <add key="ammountRemaining" value="0" />
    <add key="interestPaid" value="0" />
    <add key="uploadFilename" value="C:\Users\Brandon Brock\Desktop\Coding\mortgage_loan.txt" />
    <add key="saveFilename" value="C:\Users\Brandon Brock\Desktop\Coding\mortgage_loan.txt" />
  </appSettings>
</configuration>